{{> nav }}

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="#">Home</a>
  <a class="breadcrumb-item" href="#">{{post.category}}</a>
  <span class="breadcrumb-item active">{{post.title}}</span>
</nav>

<article class="single-post">
  <div class="row">
    <div class="col-sm-12 col-lg-3 card">
      <div class="image">
        <img src="{{post.imageUrl}}" alt="Post image">
        <span class="category">
<a href="#">{{post.category}}</a>  
        </span>
        <span class="month">SEP</span>
        <span class="day">22</span>
      </div>
      <div class="tags">
        <h4>Tags</h4>
        <span>Business</span>
        <span>Banks</span>
        <span>UK</span>
        <span>USA</span>
      </div>
      <div>
        <h4>Related posts</h4>
        <a href="#">First</a>
        <a href="#">Second</a>
        <a href="#">Third</a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-9 card">
      <h1>{{post.title}}</h1>
      <span class="author">posted by {{post.author}} IN {{post.category}} | 0 COMMENTS</span>
      <p class="content">
        {{post.content}}
      </p>
    </div>
  </div>
</article>

{{> footer }}